h1{
    background-color: rgb(61, 109, 61);
font-size: 80px;   
}
body{
    background-color: rgb(80, 163, 84);
    font-size: 35PX;
    text-align: center;
    border: solid rgb(19, 63, 21);
    border-radius: 70px;
    border-width: 10px;
    color: white;
    font-family: cursive;
}
.moral{
    font-size: 30px;
}