h1{
    background-color: bisque;
font-size: 80px;   
}
body{
    background-color: rgb(96, 161, 96);
    font-size: 40PX;
    text-align: center;
    border: solid rgb(19, 63, 21);
    border-radius: 30px;
    border-width: 10px;
    color: white;
    
}
.moral{
    font-size: 30px;
}