h1{
    background-color: bisque;
font-size: 80px;   
}
body{
    background-color: rgb(96, 161, 96);
    font-size: 60PX;
    text-align: center;
    border: solid;
    border-radius: 30px;
    border-width: 10px;
    color: white;
    border-spacing: 200px;
}
.moral{
    font-size: 30px;
}